@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "../../styling/base.scss";

#map-container {
    height: 500px;
    width: 500px;
    border-radius: 6px;
}

.map-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: $off-white;
    font-weight: 400;
    margin-top: -120px;
    h2 {
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h3 {
        font-size: 24px;
        margin: 0px;
    }
    
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buffer {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px;
    animation: bounce 2s linear infinite;
    display: flex;
    justify-content: center;
    img {
        width: 150px;
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}