$circle-radius: 11px;

.logo-container {
    position: relative;
    border: 1px solid red;
    width: 155px;
    margin: 0 auto;
    span {
        font-size: 48px;
        font-family: 'Teko', sans-serif;
        display: inline-block;
        line-height: 44px;
    }
    animation-name: logo;
    // animation-timing-function: linear;
    // animation-duration: 5s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate-reverse;

    // @keyframes logo{
    //     0% {left: 0px; top: 0px;}
    //     25% {left: 20px; top: 0px;}
    //     50% {left: 20px; top: 20px;}
    //     75% {left: 0px; top: 20px;}
    //     100% {left: 0px; top: 0px;}
    // }
}

.circle {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: $circle-radius;
    width: calc(2 * #{$circle-radius});
}

.circle.down {
    left: 37px;
    top: 35px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-radius: calc(1.5 * #{$circle-radius}) calc(1.5 * #{$circle-radius}) 0 0;
}

.circle.up {
    top: 36px;
    left: 107px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-radius: 0 0 calc(1.5 * #{$circle-radius}) calc(1.5 * #{$circle-radius});
}