$dark-gray: #222223;
$light-gray: #3B3B3B;
$off-white: #F7F7F7;

//ADVENTUROUS
$adv-light: #7A80FF;
$adv-dark: #531C92;

//HAPPY
$happy-light: #FFE381;
$happy-dark: #FEAB03;

//SAD
$sad-light: #06B8D9;
$sad-dark: #056193;

//OVERWHELMED
$over-light: #DEC3DC;
$over-dark: #C370C0;

//STRESSED
$stress-light: #A5EBC8;
$stress-dark: #36B37E;

//HANGRY
$hangry-light: #FF9073;
$hangry-dark: #DE360D;

.Adventurous {

    button {
        border: 2px solid$adv-dark; 
        background-color: $off-white;
        color: $adv-light; 
    }

    button:hover {
        border: 2px solid$adv-dark; 
        background-color: $off-white;
        color:$adv-dark; 
    }

    button:focus {
        border: 2px solid$adv-dark; 
        background-color:$adv-dark; 
        color: $adv-light; 
    }
}

.Adventurous.background-color-light {
    background-color: $adv-light;
    color: $adv-dark;
}

.Happy {


    button {
        border: 2px solid $happy-dark; 
        background-color: $off-white;
        color: $happy-light; 
    }

    button:hover {
        border: 2px solid $happy-dark; 
        background-color: $off-white;
        color: $happy-dark; 
    }

    button:focus {
        border: 2px solid $happy-dark; 
        background-color: $happy-dark; 
        color: $happy-light; 
    }
}


.Happy.background-color-light {
    background-color: $happy-light;
    color: $happy-dark;
}

.Sad {

    button {
        border: 2px solid $sad-dark; 
        background-color: $off-white;
        color: $sad-light; 
    }

    button:hover {
        border: 2px solid $sad-dark; 
        background-color: $off-white;
        color: $sad-dark; 
    }

    button:focus {
        border: 2px solid $sad-dark; 
        background-color: $sad-dark; 
        color: $sad-light; 
    }
}

.Sad.background-color-light {
    background-color: $sad-light;
    color: $sad-dark;
}


.Overwhelmed {

    button {
        border: 2px solid $over-dark; 
        background-color: $off-white;
        color: $over-light; 
    }

    button:hover {
        border: 2px solid $over-dark; 
        background-color: $off-white;
        color: $over-dark; 
    }

    button:focus {
        border: 2px solid $over-dark; 
        background-color: $over-dark; 
        color: $over-light; 
    }
}

.Overwhelmed.background-color-light{
    background-color: $over-light;
    color: $over-dark;
}

.Stressed {

    button {
        border: 2px solid $stress-dark; 
        background-color: $off-white;
        color: $stress-light; 
    }

    button:hover {
        border: 2px solid $stress-dark; 
        background-color: $off-white;
        color: $stress-dark; 
    }

    button:focus {
        border: 2px solid $stress-dark; 
        background-color: $stress-dark; 
        color: $stress-light; 
    }
}

.Stressed.background-color-light {
    background-color: $stress-light;
    color: $stress-dark;
}

.Hangry {

    button {
        border: 2px solid #DE360D; 
        background-color: $off-white;
        color: $hangry-light; 
    }

    button:hover {
        border: 2px solid #DE360D; 
        background-color: $off-white;
        color: #DE360D; 
    }

    button:focus {
        border: 2px solid #DE360D; 
        background-color: #DE360D; 
        color: $hangry-light; 
    }
}


.Hangry.background-color-light {
    background-color: $hangry-light;
    color: #DE360D;
}

.site-background-dark {
    background-color: $dark-gray;
}

.site-background-light {
    background-color: $light-gray;
}