@import "../../styling/base.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.logout-bttn{
    margin-top: -40px;
    margin-bottom: 100px; 
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

a.logout, button.logout{
    float: right;
    color: $happy-light;
    background-color: $happy-dark;
    border: none;
    width: auto;
    padding: 0px 10px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    transition: 0.25s ease;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 14px;
}

button.logout:hover{
    background-color: $happy-light;
    color: $happy-dark;
}

.navbar-logo{
    color: $off-white;
}